@media(max-width: 600px){
    h1{
        font-size: 4rem;
    }

    h4{
        font-size: 2rem;
    }

    .flex-container > img{
        width: 30%;
    }

    .buttons{
        width: 80%;
    }

    .buttons2{
        width: 100%;
    }


    #game-buttons{
        flex-flow: column wrap;
        align-items: center;
    }

    .boton2{
        width: 80%;
    }

    .redes{
        width: 20px;
    }
}

@media(max-width: 720px) {
    #keyboard{
        display: flex;
    }
}