body {
    background-color: rgb(92, 207, 92)
}

h1, h4 {
    padding: 5px;
    text-align: center;
    color: beige;
}

.flex-container {
    padding: 50px;
    margin: 5% 20%;
    border-radius: 25px;
    background-color: rgb(44, 168, 121);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 50%;
}

.boton{
    border-radius: 25px;
    width: 80%;
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 10%;
    cursor: pointer;
}

#new-word{
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    align-items: center;
    display: none;
}

#new-word > h3{
    color:beige;
    padding: 10px;
}

#new-word > input{
    width: 200px;
    height: 30px;
}

#new-word > div{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#new-word > div > button{
    border-radius: 25px;
    width: 80%;
    padding: 30px;
    margin: 5px;
    cursor: pointer;
}

#game{
    display: none;
    flex-flow: column wrap;
    align-items: center;
}

#hanged{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 70%;
}

#hanged > img{
    max-width: 50%;
}

.letter{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.right{
    margin: 0.5rem;
    width: 2rem;
    font-size: 1.8rem;
    border-bottom: solid 1px;
}

.wrong{
    margin: 1rem;
    color: rgb(98, 97, 97);
}

#game-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}

.boton2{
    border-radius: 25px;
    width: 30%;
    padding: 20px;
    margin: 1rem;
    cursor: pointer;
}